// MOVIE

.movies .movie {
  background-color: $color-grey-light-2;
  padding-left: 0;
  padding-right: 0;

  &__img {
    width: 100%;
    height: 20rem;

    img {
      @extend %responsive-img;
    }
  }
  &__data {
    padding: 2rem;
  }
  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__date {
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }

  .btn {
    font-size: inherit;
  }
}

// BUTTON
.btn {
  border: 0;
}

// SPINNER
.spinner svg {
  animation-name: rotateInfinite;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

%svg-container {
  display: flex;
  align-items: center;

  svg {
    width: 3rem;
    height: 3rem;
  }

  p {
    margin-bottom: 0;
    margin-left: 1rem;
  }
}

// Error
.error {
  @extend %svg-container;
}

// Message
.message {
  @extend %svg-container;
}

@keyframes rotateInfinite {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
