.dropdown-container {
  position: relative;
  max-width: $form-max-width;
}
.dropdown {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-top: 0;
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }

  &__img {
    width: 10rem;
    height: 10rem;

    img {
      @extend %responsive-img;
    }
  }

  button {
    font-size: 1.6rem;
    padding: 1rem;
  }
}
